* {
  box-sizing: border-box;
}
@font-face {
  font-family: 'Bebas Neue Book';
  src: url('../fonts/BebasNeueBook.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  }
body {
  font-family: 'Noto Sans', sans-serif;
}
.container {
  max-width: 1440px;
  margin: auto;
}
.navbar {
  display: flex;
  align-items: center;
  color: #fff;
  height: 94px;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 2;
  border-bottom: 1px solid rgba(235, 235, 240, 0.2);
  transition: background-color 0.2s, height 0.2s;
}
.navbar-light {
  background-color: #fff;
  color: #292D33;
  height: 74px;
  border: 0;
}
.navbar-light .header-logo-path {
  fill:#292D33;
}
.header {
  padding-top: 94px;
  min-height: 100vh; /*минимум! высота хедера будет равна вы
  соте экрана*/
}
.header-image {
  background-image: url('../img/header-bg.jpg');
  background-size: cover; /*картинка заполняет все пространство*/
  background-repeat: no-repeat; /*и не повторяется*/
  background-position: center; /*картинка всегда прогружается по центру*/
  position: relative; /*обязательно задаем родителю, чтобы задать у псевдоэлемента position: absolute, связываем их*/
}
.header-image::before {
  content: ""; /*обязательное свойство*/
  position: absolute; /*позиционируем плашку относительно родителя (header-image)*/
  background: rgba(41, 45, 51, 0.6);
  top: 0; /*прилегает к самому верху экрана*/
  left: 0; /*те задаем координаты*/
  width: 100%;
  height: 100%; /*задаем ширину и высоту элемента чтобы он отобразился*/
  z-index: 0; /*отправляем вниз в слоях*/
}
.header-logo {
  display: flex;
  align-items: center;
  padding: 0px 50px;
  border-right: 1px solid rgba(235, 235, 240, 0.2);
  height: 100%; /*от родителя, т.е 94px (navbar) чтобы не было дробных значений у размеров лого*/
}
.header-nav {
  display: flex;
  flex-basis: 100%; /*максимально растягивает элемент по блоку*/
  list-style: none;
  padding: 0 50px;
  margin: 0;
}
.header-nav-link {
  text-decoration: none;
  font-size: 16px;
  margin-right: 50px;
  color: inherit;
}
.header-phone {
  flex-shrink: 0; /*сжатие элемента на ноль*/
  display: flex;
  align-items: center; /*выраниваем по горизонтали номер и иконку телефона*/
  gap: 10px; /*10px между элементами иконки и телефона*/
  margin-right: 50px;
}
.header-phone-link {
  text-decoration: none;
  font-size: 16px;
  color: inherit;
}
.button {
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  color: #fff;
  background: #3A71D1;
  padding: 25px 60px;
  border: none;
  display: inline-block; /*кнопки обычно строчно-блочные*/
  cursor: pointer;
}
.navbar-button {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  height: 100%;
  padding: 34px 50px;
}
.header-button {
  height: 100%;
}
.seporator {
  width: 150px;
  height: 2px;
  background: #5C8EE6;
}
.header-content {
  padding-top: 150px;
  position: relative;
  z-index: 1;
  color: #fff;
}
.header-title {
  max-width: 1080px;
  font-family: "Bebas Neue Book";
  font-size: 80px;
  line-height: 120%;
  margin: 30px 0;
}
.header-text {
  max-width: 720px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  margin-bottom: 50px;
}
.header-features {
  display: flex;
  min-height: 168px;
  padding: 0;
  margin-top: 100px;
  list-style: none; /*убрали точки в li*/
  color: #fff;
  position: relative;
}
.header-features-item {
  padding: 30px 50px;
  border: 1px solid rgba(235, 235, 240, 0.2);
}
.header-features-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
}
.header-features-item:not(:last-child) {
  border-right: none; /*для всех элементов header-features-item кроме последнего */
}
.section {
  margin-top: 150px;
  margin-bottom: 150px;
}
.section-title {
  font-family: "Bebas Neue Book"; 
  font-weight: 400;
  font-size: 60px;
  line-height: 120%;
  color: #292D33;
}
.steps {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 30px;
}
.steps-item {
  max-width: 330px;
}
.steps-num {
  font-family: "Bebas Neue Book"; 
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  color: #5C8EE6;
  display: flex;
  align-items: center;
}
.steps-num::after {
  content: "";
  height: 1px;
  background: #EBEBF0;
  width: 100px;
  margin-left: 30px;
}
.steps-title {
  font-weight: 400;
  font-size: 28px;
  line-height: 160%;
  color: #292D33;
  margin-top: 30px;
  margin-bottom: 10px;
}
.steps-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #828A99;
  margin-top: 10px;
  margin-bottom: 20px;
}
.steps-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  color: #5C8EE6;
}
.steps-link:before {
  content: "";
  height: 1px;
  width: 40px;
  background: #5C8EE6;
  margin-right: 20px;
}
